<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jaxws="http://cxf.apache.org/jaxws"
		xmlns:cxf="http://cxf.apache.org/core"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/core
        http://cxf.apache.org/schemas/core.xsd
		">
	<context:component-scan base-package="demo.ws"/>
	
	<bean id="wss4jOut" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
		<constructor-arg>
            <map>
                <!-- 签名 与 加密 -->
	            <entry key="action" value="Signature Encrypt"/>
	            <!-- 签名（使用自己的私钥） -->
	            <entry key="signaturePropFile" value="client-private.properties"/>
	            <entry key="signatureUser" value="client"/><!-- 客户端别名alias -->
	            <entry key="passwordCallbackRef" value-ref="clientPasswordCallback"/>
	            <!-- 加密（使用对方的公钥） -->
	            <entry key="encryptionPropFile" value="server-public.properties"/>
	            <entry key="encryptionUser" value="server"/>
            </map>
        </constructor-arg>
	</bean>
	<jaxws:client id="helloService" serviceClass="demo.ws.soap.HelloService"
		address="http://localhost:8080/wsdigitalsignature/ws/hello">
		<!-- 向服务端发送消息 -->
		<jaxws:outInterceptors>
			<ref bean="wss4jOut" />
		</jaxws:outInterceptors>
	</jaxws:client>

	<cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

</beans>